<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="jumbotron">

                <h2>Creation d'un nouveau projet</h2>

                <form (submit)="signup()">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Nom du projet</span>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Description</span>
                            <input type="text" class="form-control" placeholder="Password">
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-success btn-lg pull-right" type="submit">Créer projet</button>
                    </div>

                </form>

                <br>
            </div>
        </div>
    </div>
</div>
