<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Mini Backlog</div>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>UserStory</th>
          <th>Difficulté</th>
          <th>Priorité</th>
          <th>Fait</th>
        </tr>
        <tr>
          <th>1</th>
          <th>En tant que ***, Je souhaite *** afin de ***</th>
          <th>3</th>
          <th>1</th>
          <th>XXX</th>
        </tr>
      </table>
    </div>
    <button class="btn btn-primary  pull-right">Selectionner UserStory</button>
  </div>


  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Tâches</div>
      <table class="table">
        <tr>
          <th>ID Tâche</th>
          <th>Intitulé</th>
          <th>Affectation</th>
          <th>Difficulté</th>
          <th>État</th>
        </tr>
        <tr>
          <th>1</th>
          <th>Visualiser les pages</th>
          <th>Med Amine</th>
          <th>1</th>
          <th>XXX</th>
        </tr>
      </table>
    </div>
    <button class="btn btn-primary  pull-right">Ajouter tâche</button>
  </div>

</div>
<br>

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Tasks timeline here !
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        Kankan here !!
      </div>
    </div>
  </div>

</div>



