<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="jumbotron">
                <h2>Sign up</h2>
                <form (submit)="signup()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Your name</span>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">Your e-mail</span>
                            <input type="text" class="form-control" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon4">Your Password</span>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon5">Repeat Password</span>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success btn-lg pull-right" type="submit">Sign Up</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>
