<br>
<div class="panel panel-default">
  <div class="panel-body">
    <h1 align="center">Projet 1</h1>
    <p align="center">Description</p>
    <p align="center">Date de debut : xx/xx/xxxx --- Date de fin : xx/xx/xxxx</p>
  </div>
</div>

<br>
<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Firstname</th>
      <th>Rôle</th>
    </tr>
    <tr>
      <td>Med Amine</td>
      <td>Developpeur</td>
    </tr>
  </table>
</div>
<div class="panel-body">
  <button class="btn btn-primary  pull-right">Nouveau membre</button>
</div>
