<br>

<div *ngIf="backlogLoading" class="page-loading text-center">
    <i class="ld ld-spin ld-ring"></i>
</div>
<div *ngIf="!backlogLoading">
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UserStory</th>
                    <th>Difficulté</th>
                    <th>Priorité</th>
                    <th>Fait</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let us of currentProject.userStories">
                    <tr *ngIf="!showModifyUS || shownModifyDescription !== us.description">
                        <td></td>
                        <td>{{ us.description }}</td>
                        <td>{{ us.difficulty }}</td>
                        <td>{{ us.priority }}</td>
                        <td>
                            <input disabled class="done_checkbox" type="checkbox">
                        </td>
                        <td align="right">
                            <div [hidden]="showModifyUS">
                                <button type="button" class="btn btn-default"  (click)="toggleModifyUS(us.description)">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span> Modifier</span>
                                </button>

                                <button type="button"
                                        class="btn btn-default"
                                        (click)="deleteUS(us.description)"
                                        *ngIf="!userIsPO">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    <span> Supprimer</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>

                <tr *ngIf="showModifyUS">
                    <td colspan="6">
                        <form novalidate
                              [formGroup]="modifyUsForm">
                            <div class="row">
                                <div class="col-md-4"
                                     *ngIf="!userIsPO">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Userstory"
                                               size="50"
                                               [formControlName]="'us'"/>
                                    </div>
                                </div>
                                <div class="col-md-2"
                                     *ngIf="!userIsPO">
                                    <div class="input-group">
                                        <input type="number"
                                               min="0"
                                               class="form-control"
                                               placeholder="Difficulté"
                                               size="4"
                                               [formControlName]="'difficulty'"/>
                                    </div>
                                </div>
                                <div *ngIf="userIsPO"
                                     class="col-md-4">
                                    {{shownModifyDescription}}
                                </div>
                                <div *ngIf="userIsPO"
                                     class="col-md-4">
                                    <div class="input-group">
                                        <input type="number"
                                               min="0" class="form-control"
                                               placeholder="Priorité"
                                               size="4"
                                               [formControlName]="'priority'"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default" (click)="submitModifyUSForm()">
                                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                        <span> Valider</span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default"
                                            (click)="cancelModifyUS()">Annuler</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr *ngIf="currentProject.userStories.length === 0"
                    class="empty-project text-center">
                    <td colspan="6">Aucune US pour ce projet</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="currentUser && !userIsPO"
         class="row">
        <div class="col-md-10">
            <div [hidden]="!showAddUS" class="panel panel-default">
                <h4 align="center">Ajouter une Userstory</h4>
                <form novalidate [formGroup]="addUSForm">
                    <table class="table addMember">
                        <tr>
                            <td>
                                <div class="form-group has-feedback"
                                     [ngClass]="{ 'has-error': descriptionUs.invalid && (descriptionUs.dirty || descriptionUs.touched || addUsSubmitted) }">
                                    <label for="new-us">Userstory à ajouter</label>
                                    <input class="form-control"
                                           size="100"
                                           name="us"
                                           placeholder="En tant que *** je souhaite *** afin de ***"
                                           id="new-us"
                                           [formControlName]="'us'"/>

                                    <span class="glyphicon glyphicon-remove form-control-feedback hide" aria-hidden="true"
                                          [ngClass]="{ 'show': descriptionUs.invalid && (descriptionUs.dirty || descriptionUs.touched || addUsSubmitted) }"></span>
                                    <div class="col-12 text-danger"
                                         *ngIf="descriptionUs.invalid && (descriptionUs.dirty || descriptionUs.touched || addUsSubmitted)">
                                        <span class="validation-message" *ngIf="descriptionUs.errors.required">La description doit être saisie.</span>
                                    </div>
                                </div>
                            </td>

                            <td *ngIf="userIsPO">
                                <div class="btn-group">
                                    <div class="form-group has-feedback"
                                         [ngClass]="{ 'has-error': priority.invalid && (priority.dirty || priority.touched || addUsSubmitted) }">
                                        <label for="priority">Priorité</label>
                                        <input type="number"
                                               id="priority"
                                               min="0"
                                               size="5"
                                               name="priority" class="form-control"
                                               [formControlName]="'priority'"/>

                                        <span class="glyphicon glyphicon-remove form-control-feedback hide" aria-hidden="true"
                                              [ngClass]="{ 'show': priority.invalid && (priority.dirty || priority.touched || addUsSubmitted) }"></span>
                                        <div class="col-12 text-danger"
                                             *ngIf="priority.invalid && (priority.dirty || priority.touched || addUsSubmitted)">
                                            <span class="validation-message" *ngIf="priority.errors.required">La priorité doit être saisie.</span>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="btn-group">
                                    <div class="form-group has-feedback"
                                         [ngClass]="{ 'has-error': difficulty.invalid && (difficulty.dirty || difficulty.touched || addUsSubmitted) }">
                                        <label for="difficulty">Difficulté</label>
                                        <input type="number"
                                               id="difficulty"
                                               min="0"
                                               size="5"
                                               name="difficulty"
                                               class="form-control"
                                               [formControlName]="'difficulty'"/>

                                        <span class="glyphicon glyphicon-remove form-control-feedback hide" aria-hidden="true"
                                              [ngClass]="{ 'show': difficulty.invalid && (difficulty.dirty || difficulty.touched || addUsSubmitted) }"></span>
                                        <div class="col-12 text-danger"
                                             *ngIf="difficulty.invalid && (difficulty.dirty || difficulty.touched || addUsSubmitted)">
                                            <span class="validation-message" *ngIf="difficulty.errors.required">La difficulté doit être saisie.</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel-body" [hidden]="showAddUS || showModifyUS">
                <button class="btn-add btn btn-primary pull-right" name="newus" (click)="toggleAddUS()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span >Ajouter Userstory</span>
                </button>
            </div>
            <div class="panel-body" [hidden]="!showAddUS">
                <button class="btn-add btn btn-success pull-right" name="addus" (click)="submitAddUSForm()">
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    <span > Ajouter</span>
                </button>
            </div>
        </div>
    </div>
</div>

