<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Mini Backlog</div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>UserStory</th>
                    <th>Difficulté</th>
                    <th>Priorité</th>
                    <th>Fait</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>En tant que ***, Je souhaite *** afin de ***</th>
                    <th>3</th>
                    <th>1</th>
                    <th>XXX</th>
                </tr>
            </table>
        </div>

        <div class="panel panel-default" [hidden]="!showSelectUS">

            <table class="table">
                <tr>
                    <th>UserStory</th>
                    <th>Difficulté</th>
                    <th>Priorité</th>
                    <th>Selectionner</th>
                </tr>
                <tr>
                    <td>
                        <div [hidden]='showModifyUS'>En tant que *** Je souhaite *** afin de ***</div>

                        <div [hidden]='!showModifyUS'>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Userstory" size="50"/>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div [hidden]='showModifyUS'>3</div>
                        <div [hidden]='!showModifyUS'>
                            <div class="input-group">
                                <input type="number" min="0" class="form-control" placeholder="Difficulté" size="4"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div [hidden]='showModifyUS'>3</div>
                        <div [hidden]='!showModifyUS'>
                            <div class="input-group">
                                <input type="number" min="0" class="form-control" placeholder="Priorité" size="4"/>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <input class="done_checkbox" type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div [hidden]='showModifyUS'>En tant que *** Je souhaite *** afin de ***</div>

                        <div [hidden]='!showModifyUS'>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Userstory" size="50"/>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div [hidden]='showModifyUS'>3</div>
                        <div [hidden]='!showModifyUS'>
                            <div class="input-group">
                                <input type="number" min="0" class="form-control" placeholder="Difficulté" size="4"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div [hidden]='showModifyUS'>3</div>
                        <div [hidden]='!showModifyUS'>
                            <div class="input-group">
                                <input type="number" min="0" class="form-control" placeholder="Priorité" size="4"/>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <input class="done_checkbox" type="checkbox">
                    </td>
                </tr>
            </table>

        </div>






        <div class="panel-body" [hidden]="showSelectUS">
            <button class="btn-add btn btn-primary pull-right" name="newus" (click)="toggleSelectUS()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span >Selectionner UserStory</span>
            </button>
        </div>
        <div class="panel-body" [hidden]="!showSelectUS">
            <button class="btn-add btn btn-success pull-right" name="addus" (click)="submitSelectUSForm()">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <span > Ajouter</span>
            </button>
        </div>




    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Tâches</div>
            <table class="table">
                <tr>
                    <th>ID Tâche</th>
                    <th>Intitulé</th>
                    <th>Affectation</th>
                    <th>Difficulté</th>
                    <th>État</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>Visualiser les pages</th>
                    <th>Med Amine</th>
                    <th>1</th>
                    <th>XXX</th>
                </tr>
            </table>
        </div>
        <button class="btn btn-primary  pull-right">Ajouter tâche</button>
    </div>
</div>

<br>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                Tasks timeline here !
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                Kankan here !!
            </div>
        </div>
    </div>

</div>



